
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
:root{
--verde: green;
--azul: rgb(13, 13, 135);
--branco: white;
--cinza: #1a1a1a;
--preto:black;
}
html {
  font-size: 60%;
  overflow-x: hidden;
  padding-top: 15px;
}
body {
  background-color: var(--preto);
  padding-bottom: 6rem;
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 100;
  align-items: flex-end;
}
.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: var(--cinza);
  flex: 1;
  color: var(--branco);
  text-align: center;
  transition: .2s linear;
}
.navbar a i {
  color: var(--verde);
  padding-right: .5rem;
}
.navbar a:hover {
  background: var(--cinza);
  padding-bottom: 6rem;
  border-radius: 40px 40px 0px 0px;
  color: var(--verde);
}
.navbar a:hover i {
  color: var(--branco);
}
/* **************************** CALCULADORA ************************** */
.container {
  max-width: 360px;
  margin: 0 auto;
}
.calculadora {
  border-radius: 20px;
  border: 2px solid var(--verde);
}
input[type="button"]{
  display: grid;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  background: var(--cinza);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 36px;
  outline: none;
  transition: 0.6s;
  position: relative;
  color: var(--verde);
}
input[type="button"]:hover {
  background: var(--branco);
  color: var(--preto);
}
input[type="button"]:hover.operadores-basicos {
  background: var(--azul);
}
.resultado {
  position: relative;
}
.resultado input[type="text"] {
  min-height: 150px;
  width: 355px;
  border: none;
  outline: none;
  background: var(--cinza);
  color: var(--branco);
  display: grid;
  text-align: end;
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  justify-content: end;
  align-items: end;
  padding: 20px 20px 0px 0px;
  border-radius: 20px 20px 0px 0px;
}
#igual:hover {
  background: var(--azul);
  color: var(--branco);
}
.teclas {
  display: grid;
  grid-template-columns: 60px 60px 60px 60px;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
  padding-bottom: 30px;
}
input.operadores-basicos {
  background-color: var(--cinza);
}
#igual {
  background: var(--cinza);
}

/* ************************************ Telas ********************************* */
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none; 
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
}
@media (max-width: 450px) {
  html{
    font-size: 50%;
  }
  .container {
    max-width: 350px;
    margin: 0 auto;
  }
  .resultado input[type="text"] {
    min-height: 120px;
    width: 345px;
    margin-bottom: 30px;
  }
}