
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
}
:root{
--verde: green;
--azul: rgb(13, 13, 135);
--branco: white;
--cinza: #1a1a1a;
--preto:black;
}
html {
  font-size: 60%;
  overflow-x: hidden;
  padding-top: 15px;
}
body {
  background-color: var(--preto);
  padding-bottom: 6rem;
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 100;
  align-items: flex-end;
}
.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: var(--cinza);
  flex: 1;
  color: var(--branco);
  text-align: center;
  transition: .2s linear;
}
.navbar a i {
  color: var(--verde);
  padding-right: .5rem;
}
.navbar a:hover {
  background: var(--cinza);
  padding-bottom: 6rem;
  border-radius: 40px 40px 0px 0px;
  color: var(--verde);
}
.navbar a:hover i {
  color: var(--branco);
}
/* **************************** RELOGIO ************************** */
#relogio{	
  text-align: center;	
  color: var(--verde);
  padding-top: 300px;
  font-size: 100px;
  letter-spacing: 10px;
}
/* ************************************ Telas ********************************* */
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
}
@media (max-width: 450px) {
  html{
    font-size: 50%;
  }
  #relogio{
    font-size:50px; padding-top: 100px;
  }
}