*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
:root{
--azul: #284473;
--azulClaro: #7c9aab;
--branco: #bfaaa2;
--preto:black;
}

html {
background-color: var(--azul);
}
body{
  margin: auto;
  width: 90%;
  height: 100%;
}
header{
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content:left;
  border: 1px solid var(--preto);
}
.btn{
  
}

/* ********************************** Escrita **********************************/
.paragrafo{
  display: block; 
  text-align: center;
}
.paragrafo .estatico{
  color: var(--azulClaro);
  font-size: 50px;
}
.paragrafo .dinamico{
  font-size: 20px;
  margin-left: 10px;
  line-height: 20px;
  height: 100%;
  overflow: hidden;
  color: var(--branco);
}
@keyframes slide{
  100%{
    top: -360px;
  }
}
.dinamico li span::after{
  content:"";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  animation: typing 2s steps(30) infinite;
  background: var(--azul);
}
.dinamico li span{
  position: relative;
}
@keyframes typing{
  100%{
    left: 100%;
    margin: 0 -20px 0 20px;
  }
}

/* ************************************ Telas ********************************* */
@media (max-width: 1200px) {
  html {
    font-size: 50%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none; 
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
  .contato .row form .inputBox input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}