*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
:root{
--verde: green;
--azul: #284473;
--branco: white;
--cinza: #1a1a1a;
--preto:black;

.TP{
  border: 1px solid var(--preto);
}
}

html {
background-color: var(--azul);
}

header{
  display: flex;
  align-items: center;
  justify-content: center  ;












/* ************************************ Telas ********************************* */
@media (max-width: 1200px) {
  html {
    font-size: 50%;
    height: 100%;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none; 
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
  .contato .row form .inputBox input {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}