
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap");
*{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
}
:root{
--verde: green;
--azul: rgb(13, 13, 135);
--branco: white;
--cinza: #1a1a1a;
--preto:black;
}
html {
  font-size: 60%;
  overflow-x: hidden;
  padding-top: 15px;
}
body {
  background-image: url("https://source.unsplash.com/1600x900/?landscape");
  background-repeat: no-repeat;
  background-size:cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 760px;
}
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  z-index: 100;
  align-items: flex-end;
}
.navbar a {
  padding: 2rem;
  font-size: 2rem;
  background: var(--cinza);
  flex: 1;
  color: var(--branco);
  text-align: center;
  transition: .2s linear;
}
.navbar a i {
  color: var(--verde);
  padding-right: .5rem;
}
.navbar a:hover {
  background: var(--cinza);
  padding-bottom: 6rem;
  border-radius: 40px 40px 0px 0px;
  color: var(--verde);
}
.navbar a:hover i {
  color: var(--branco);
}
/* *************************** Previsão do Tempo ******************************** */
.caixa-maior {
  background-color: var(--cinza);
  width: 95%;
  max-width: 450px;
  opacity: 0.7;
  padding: 25px;
  border-radius: 20px;
}
input { 
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 24px;
  font-size: 20px;
  width: calc( 100% - 100px);
}
button {
  border: none;
  outline: none;
  padding: 14px;
  border-radius: 24px;
  float: right;
  cursor: pointer;
}
button:hover {
  background-color: var(--preto);
  color: var(--branco);
}
.caixa-media {
  margin-top: 30px;
}
.caixa-menor {
  display: flex;
  margin-top: 30px;
  align-items: center;
}
h2 {
  color:var(--branco);
  font-size: 28px;
}
.temp {
  color:var(--branco);
  font-size: 28px;
  margin-top: 30px;
}
.descricao {
  color:var(--branco);
  margin-left: 20px;
  font-size: 28px;
  text-transform: capitalize;
}
.umidade {
  color: var(--branco);
  font-size: 28px;
  margin-top: 30px;
}
/* ************************************ Telas *********************************** */
@media (max-width: 1200px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 768px) {
  .heading {
    font-size: 3rem;
  }
  .navbar a i {
    padding: 0;
  }
  .navbar a span {
    display: none;
  }
  .navbar a:hover {
    padding-bottom: 2rem;
  }
}
@media (max-width: 450px) {
  html{
    font-size: 50%;
  }
}